{% import '_macros/helpers' as helpers %}

<footer class="site-footer bg-brand-peach text-yellow-800">
  <div class="bg-gradient-to-br from-indigo-50 to-white">
    <div class="mx-auto w-full max-w-screen-md p-8">
      <div class="md:flex items-center md:space-x-8 text-center md:text-left">
        <img src="/img/logo-duffield.png" alt="" class="w-64 inline-block" />
        <p class="text-xl mt-4 md:mt-0 text-indigo-900 opacity-60">
          Nevada SPCA is a proud recipient of funding from the Dave & Cheryl
          Duffield Foundation!
        </p>
      </div>
    </div>
  </div>
  <div class="md:flex md:justify py-8 leading-relaxed text-lg">
    <div class="text-center md:w-1/3 p-4">
      <h2 class="text-2xl mb-2 font-bold">
        Visit Us
      </h2>Monday - Saturday<br />
      10am - 4pm<br />
      Closed Sundays
    </div>
    <div class="text-center md:w-1/3 p-4">
      <h2 class="text-2xl mb-2 font-bold">
        Find Us
      </h2>
      <address class="not-italic">
        {{ companyInfo.addressLine1 }}<br />
        {{ companyInfo.city }}, {{ companyInfo.state|capitalize }} {{
          companyInfo.zipCode
        }}<br />
      </address>
      <a href="https://goo.gl/maps/hfYut6ejoaK7oaU98"
        target="_blank"
        rel="nooopener"
        class="underline">
        Directions
      </a>
    </div>
    <div class="text-center md:w-1/3 p-4">
      <h2 class="text-2xl mb-2 font-bold">
        Contact Us
      </h2>
      <a href="tel:{{ companyInfo.phone }}">
        {{ helpers.phone(companyInfo.phone) }}
      </a><br />
      <a href="{{ url('contact') }}" class="underline">Email Us</a>
    </div>
  </div>
  <div class="px-4 pt-10 pb-12 border-t border-brand-peach-dark">
    <div class="text-center max-w-2xl mx-auto space-y-4 md:space-y-0 md:space-x-6 md:text-left md:flex md:justify-center md:items-center">
      <div>
        <a href="{{ url('/') }}" class="inline-block w-36 md:w-36">
          <span class="responsive-obj pb-[48.15%]">
            <svg>
              <title>
                {{ seo.seoTitle }}
              </title>
              <use xlink:href="#brand-logo-left" />
            </svg>
          </span>
        </a>
      </div>
      <p class="flex-shrink text-base leading-relaxed">
        Nevada Society for the Prevention of Cruelty to Animals is a 501 (c)(3)
        charitable non-profit organization. EIN: 88-0187383.
      </p>
    </div>
  </div>
  <div class="site-footer-legal text-center w-full bg-brand-peach-dark text-sm py-2 px-4">
    © {{ now|date('Y') }} {{ companyInfo.copyrightEntity }} - <a href="{{ url('legal') }}" class="underline text-brown-800">Legal</a>
  </div>
</footer>
