<header class="site-header fixed top-0 shadow bg-white w-full md:relative z-50">
  <div class="notch-l notch-r">
    <div class="site-header-container text-center">
      <div class="site-header-logo h-16 flex justify-center items-center w-full md:p-4">
        <a href="{{ url('doante') }}"
          class="w-16 h-16 flex items-center justify-center md:hidden">
          <svg class="w-6 h-6">
            <use xlink:href="#icon-heart" />
          </svg>
        </a>
        <div class="flex-grow">
          <a href="{{ url('/') }}" class="inline-block w-36 md:w-52">
            <span class="responsive-obj pb-[31.22%]">
              <svg>
                <title>
                  {{ seo.seoTitle }}
                </title>
                <use xlink:href="#brand-logo" />
              </svg>
            </span>
          </a>
        </div>
        <button class="nav-mobile-toggle w-16 h-16 flex items-center justify-center md:hidden">
          <svg class="w-6 h-6">
            <use xlink:href="#icon-hamburger" />
          </svg>
        </button>
      </div>
      <div class="nav-mobile transition-all duration-300 ease-out overflow-hidden md:contents md:h-auto md:opacity-1">
        <nav class="site-header-nav text-lg font-bold text-center py-4 md:py-0 md:border-t md:border-gray-200">
          <ul class="md:flex justify-center">
            <li>
              <a href="{{ url('adopt-foster') }}"
                class="p-2 md:h-11 inline-flex items-center md:px-4 lg:px-6">
                <span class="beam">Adopt & Foster</span>
              </a>
            </li>
            <li>
              <a href="{{ url('support') }}"
                class="p-2 md:h-11 inline-flex items-center md:px-4 lg:px-6">
                <span class="beam">Get Involved</span>
              </a>
            </li>
            <li>
              <a href="{{ url('about') }}"
                class="p-2 md:h-11 inline-flex md:items-center md:px-4 lg:px-6">
                <span class="beam">About Us</span>
              </a>
            </li>
            <li>
              <a href="{{ url('articles') }}"
                class="p-2 md:h-11 inline-flex items-center md:px-4 lg:px-6">
                <span class="beam">Articles</span>
              </a>
            </li>
            <li>
              <a href="{{ url('events') }}"
                class="p-2 md:h-11 inline-flex items-center md:px-4 lg:px-6">
                <span class="beam">Events</span>
              </a>
            </li>
            <li>
              <a href="{{ url('shop') }}"
                class="p-2 md:h-11 inline-flex items-center space-x-2 md:px-4 lg:px-6">
                <svg class="w-5 h-5 -mt-1">
                  <use xlink:href="#icon-cart" />
                </svg>
                <span class="beam">Shop</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="site-header-social p-4">
          <ul class="flex justify-center md:justify-start space-x-4">
            <li>
              <a href="{{ social.facebook[0].profileUrl }}">
                <svg class="w-6 h-6">
                  <use xlink:href="#icon-facebook" />
                </svg>
              </a>
            </li>
            <li>
              <a href="{{ social.twitter[0].profileUrl }}">
                <svg class="w-6 h-6">
                  <use xlink:href="#icon-twitter" />
                </svg>
              </a>
            </li>
            <li>
              <a href="{{ social.instagram[0].profileUrl }}">
                <svg class="w-6 h-6">
                  <use xlink:href="#icon-instagram" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="site-header-action p-6 md:p-4">
          <div class="space-y-4 md:flex md:justify-end md:space-y-0 md:space-x-2 md:flex-wrap">
            <a href="{{ url('adopt-foster') }}"
              class="button-black mx-auto w-full max-w-xs md:w-auto md:mx-0 hidden lg:inline-flex">
              Adopt & Foster
            </a>
            <a href="{{ url('doante') }}"
              class="button-red mx-auto w-full max-w-xs md:w-auto md:mx-0">
              Donate
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
