{# --------------------------------- #}
{# Guides Page
{# --------------------------------- #}

{% extends '_layouts/default' %}

{% block content %}
  {% import '_macros/animals' as animals %}

  <div class="px-4 max-w-screen-2xl mx-auto py-12 md:py-20">
    <article class="sm:w-1/2 sm:p-2 sm:flex sm:flex-col xl:p-4">
      <div class="bg-brown-50 shadow p-4 md:p-6 rounded sm:flex-grow sm:flex sm:flex-col">
        {% set heroImage = entry.articleheroImage.one() %}
        <a href="{{ entry.url }}" class="pb-4 md:pb-6 block">
          <img src="{{ heroImage.url }}" alt="" class="rounded" />
        </a>
        <div class="text-gray-500 sm:flex-grow sm:flex sm:flex-col">
          <h2 class="font-bold text-gray-700 text-lg md:text-xl lg:text-2xl">
            <a href="{{ entry.url }}">{{ entry.title }}</a>
          </h2>
          <p class="text-sm md:text-base font-medium mt-2">
            Written by <a href="{{ url('users') ~ entry.author.username }}" class="text-primary-500 hover:underline">{{
                entry.author
              }}</a>
          </p>
          <p class="text-sm md:text-base lg:text-lg mt-2 lg:mt-4 sm:flex-grow">
            {{ entry.articleSummary }}
          </p>
          <p class="text-xs md:text-sm mt-4 lg:mt-6">
            {{ entry.postDate|date('M j, Y') }}
          </p>
        </div>
      </div>
    </article>
  </div>
{% endblock %}
