{# --------------------------------- #}
{# Articles Page
{# --------------------------------- #}

{% extends '_layouts/default' %}

{% block content %}
  {% paginate craft.entries.section('articles').limit(8).offset(1)
    as
    pageInfo,
    articles
  %}
  <div class="max-w-screen-3xl w-full mx-auto pt-8 xl:px-4">
    <div class="md:flex flex-row-reverse justify-between items-center lg:px-4 xl:px-2 2xl:px-0">
      <div class="w-full lg:w-1/3 px-4 xl:px-6 2xl:px-8">
        {% include '_partials/articles-search' %}
      </div>
      <h1 class="w-full lg:w-2/3 text-gray-800 px-4 xl:px-6 2xl:px-8 mt-4">
        <span class="text-2xl font-medium lg:text-3xl">Latest Articles</span>
      </h1>
    </div>
    <div class="lg:flex mt-4 md:mt-8 lg:px-4 xl:px-2 2xl:px-0">
      <div class="w-full lg:w-2/3 px-4 xl:px-6 2xl:px-8">
        <div class="flex flex-wrap space-y-2 sm:space-y-0 sm:-mx-2 sm:-mt-2 xl:-mx-4 xl:-mt-4">
          {% for entry in articles %}
            <article class="sm:w-1/2 sm:p-2 sm:flex sm:flex-col xl:p-4">
              <div class="bg-brown-50 shadow p-4 md:p-6 rounded sm:flex-grow sm:flex sm:flex-col">
                {% set featureImage = entry.articleFeatureImage.one() %}
                <a href="{{ entry.url }}" class="pb-4 md:pb-6 block">
                  <img src="{{ featureImage.url }}" alt="" class="rounded" />
                </a>
                <div class="text-gray-500 sm:flex-grow sm:flex sm:flex-col">
                  <h2 class="font-bold text-gray-700 text-lg md:text-xl lg:text-2xl">
                    <a href="{{ entry.url }}">{{ entry.title }}</a>
                  </h2>
                  <p class="text-sm md:text-base font-medium mt-2">
                    Written by <a href="{{ url('users') ~ entry.author.username }}" class="text-primary-500 hover:underline">{{
                        entry.author
                      }}</a>
                  </p>
                  <p class="text-sm md:text-base lg:text-lg mt-2 lg:mt-4 sm:flex-grow">
                    {{ entry.articleSummary }}
                  </p>
                  <p class="text-xs md:text-sm mt-4 lg:mt-6">
                    {{ entry.postDate|date('M j, Y') }}
                  </p>
                </div>
              </div>
            </article>
          {% endfor %}
        </div>
        <div class="py-6 font-medium">
          <div class="flex space-x-6 md:space-x-8 flex-grow text-lg md:text-2xl justify-center items-center lg:justify-start">
            {% if pageInfo.prevUrl %}
              <a href="{{ pageInfo.prevUrl }}"
                class="w-10 h-10 flex justify-center items-center space-x-2 bg-brown-50 shadow rounded hover:bg-white"
                title="Newer articles">
                <svg class="w-4 h-4">
                  <use xlink:href="#icon-arrow-left" />
                </svg>
              </a>
            {% else %}
              <span class="w-10 h-10 flex justify-center items-center space-x-2 bg-brown-200 rounded text-brown-400 opacity-50">
                <svg class="w-4 h-4 fill-current">
                  <use xlink:href="#icon-arrow-left" />
                </svg>
              </span>
            {% endif %}
            <span>
              page {{ pageInfo.currentPage }} of{% if
                pageInfo.currentPage != pageInfo.totalPages %}
                <a href="{{ pageInfo.lastUrl }}" class="underline">
                  {{ pageInfo.totalPages }}
                </a>
              {% else %}
                {{ pageInfo.totalPages }}
              {% endif %}
            </span>
            {% if pageInfo.nextUrl %}
              <a href="{{ pageInfo.nextUrl }}"
                class="w-10 h-10 flex justify-center items-center space-x-2 bg-brown-50 shadow rounded hover:bg-white"
                title="Older articles">
                <svg class="w-4 h-4">
                  <use xlink:href="#icon-arrow-right" />
                </svg>
              </a>
            {% else %}
              <span class="w-10 h-10 flex justify-center items-center space-x-2 bg-brown-200 rounded text-brown-400 opacity-50">
                <svg class="w-4 h-4 fill-current">
                  <use xlink:href="#icon-arrow-right" />
                </svg>
              </span>
            {% endif %}
          </div>
        </div>
      </div>
      <aside class="w-full md:w-1/3 px-4 xl:px-6 2xl:px-8 mt-8 md:mt-0">
        {% include '_partials/articles-sidebar' %}
      </aside>
    </div>
  </div>
{% endblock %}
